


body
{
	 
    background-color:#d4d7d8;
    font-family: 'Adobe Garamond Pro Bold Italic', Georgia, Times New Roman;
    font-size: 0.9em;
}
    
.bloc_page
{
    width:100%;
    margin:auto; 
    padding:0px;
}

.banniere
{
	
    height: 450px;
    
    background: url('https://cdn.pixabay.com/photo/2016/08/26/17/27/rainbow-1622730__340.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    
    width:100%;
    background-size:100% ;
    color:white;
    padding-bottom:20px;
    font-size: small;

}
nav
{
	
	background-color: black;
	width:100%;
	display: flex;
	justify-content: space-between;
	padding-top:15px;
	
	
}
nav p
{
	
    display: flex;
    height:50px;
    padding-top:20px;
    color:white;
   
   
   
}
nav a:hover
{
	color:red;

}

nav a
{
	color:white;
}
.start
{
	text-align: center;
	margin-bottom:75px;
	margin-top:75px;

}
.start h2
{
	color:#35A6FF;
}
.billets
{
	box-shadow: 0px 4px 4px #1c1a19;
	width:70%;
	margin:auto;
	height:150px;
	background-color: white;
	

}
.billets2
{
	box-shadow: 0px 4px 4px #1c1a19;
	width:50%;
	margin:auto;
	height:150px;
	background-color: white;

}
.commentsheet
{

display: flex;

}
.form
{

	width:30%;
	margin-right:10%;
	border:1px solid black;
	background-color:white;
	box-shadow: 0px 4px 4px #1c1a19;

	
}
.formtitle
{
	text-align:center;
	background-color:#35A6FF;

}
.form input
{

}

.btitle
{
	text-align: center;
	background-color:#35A6FF;
	color:white;
	font-size: small;
	
}
.comments
{
	background-color: white;
	margin-bottom:100px;
	margin-top:100px;
	width:50%;
	box-shadow: 0px 4px 4px #1c1a19;
	
}
.ctitle
{
	padding-bottom:0.5%;
	background-color:#35A6FF;
	color:white;
	font-size: small;
	width:100%;
	padding-top:3px;
}
.content
{
	padding-left:2%;
	padding-right:5%;
	padding-top:7%;
	padding-bottom:3%;
}
.content strong
{
	color:#35A6FF;
}
.posts 
{
	text-align: center;
}


footer 
{
	text-align: center;
	background-color: black;
	color:white;
	font-family: 'Adobe Garamond Pro Bold Italic', Georgia, Times New Roman;
    
}

footer h3, p
{
	font-size: small;
	font-family: 'Adobe Garamond Pro Bold Italic', Georgia, Times New Roman;

}

.social
{
	display: flex;
	justify-content: center;

	

	width : 100%;
	padding-right: 1%;
}
.social img
{
	width:50px;
	height:50px;

}


.bottom
{
	display:flex;
	

}
.infos 
{
	width: 40%;
	
	display:flex;
}
.infos p
{
	padding-top:5px;
}
.infos h3
{
	text-decoration: underline;
}
.logo img
{
	width:150px;
	height:50px;
}
.logo
{
	display:flex;
	border-left:1px solid black;
	border-bottom:none;
	border-right:none;
	width: 30%;
	margin-bottom:35px;


}
.logo p 
{
	padding-bottom:10px;

}
.final
{
	border:2px solid white;
	background-color: white;
	color:black;
}
