
@font-face {
font-family: 'Adobe Garamond Pro Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Adobe Garamond Pro Bold Italic'), url('AGaramondPro-BoldItalic.woff') format('woff');
}



body
{
	 
    background-color:#d4d7d8;
    font-family: Adobe Garamond Pro Bold Italic, Georgia, Times New Roman;
    font-size: 0.9em;
    
}
.jfpr
{
	padding-top: 230px;
}
.jfimg img
{
	max-width: 100%;
    height: 530px;
}
.jfpr p
{
	font-size: 2em;
}
.slpics img
{
	width: 100%;
	padding-top: 30px;
}

.secndrow img
{
	width:100%;
}
.nouveautitre
{
	background-color: white;
}
    
.bloc_page
{
    width:100%;
    margin:auto; 
    padding:0px;
}
.chaps 
{
	background-color: whitesmoke;
	margin: 60px;
	padding: 40px;
}
.chapcontent
{
	font-size: 1em;

}
.entirechapcontent
{
	font-size: 1em;

}
form legend
{
	text-align: center;
}
.chaptitle
{
	text-align: center;
    color: #35A6FF;
}
.nouveautitre
{
	text-align: center;
}
.container-fluid 
{
	padding: 0;
	background-color: white;

}
.container
{
	padding: 50px;
	margin-bottom: 60px;
	background-color: white;
}
.container-fluid  img
{
	width: 100%;

}

.fimg 
{
	background-image: url(../images/rainbow.jpg);
	height:450px;
	background-repeat: no-repeat;
	width: 100%;

}

.banniere
{
	
    height: 450px;
    
    background: url('https://cdn.pixabay.com/photo/2016/08/26/17/27/rainbow-1622730__340.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    
    width:100%;
    background-size:100% ;
   
    padding-bottom:20px;
    font-size: small;

}
nav
{
	
	text-align: center;
    display: flex;
    background-color: black;
    height: 50px;
    font-size: 1.5em;
    padding: 15px;

}
	
	
	
	
}

.titre2
{
	padding-left: 30px;
	color: white;
	
}

.part1
{
	display: flex;
	margin-top: 150px;
	margin-left: 35px;
	padding: 20px;
}
.part2
{
	margin-left: 35px;
	padding-bottom: 15px;
}

.part2 
{
	font-size: 2em;
}
.bio
{
	background-color: white;
}
.bioftext p
{
	margin-top: 335px;
    font-size: 17px;
    margin-left: 30px;
}
.biopic img
{
	    height: 500px;
}
.slpics
{
	
   
}
.row
{
	margin-right: 0;
	margin-left: 0;
}
.firstrow img
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	max-height: 300px;
	max-width: 421px;
	min-width: 300px;
    
}
.firstrow 
{
	display: flex;
   }

.secndrow
{
	display: flex;
}

.secndrow img
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	max-height: 300px;
	max-width: 426px;
    min-width: 410px;
}
.ml
{
	background-color: white;
    margin: 40px;
    padding: 30px;
}
.admininfos
{
	background-color: white;
    padding: 20px;
    margin-bottom: 70px;
    text-align: center;
}
}
nav p
{
	
    display: flex;
    height:20px;
    color:white;
    padding:10px 50px 10px 50px;
   
   
   
}
nav a:hover
{
	color:red;

}

nav a
{
	color:white;
	text-decoration: none;

}
.start
{
	text-align: center;
	margin-bottom:75px;
	margin-top:75px;

}
.start h2
{
	color:#35A6FF;
}
.billets
{
	box-shadow: 0px 4px 4px #1c1a19;
	width:70%;
	margin:auto;
	height:auto;
	background-color: white;
}
.billets2
{
	box-shadow: 0px 4px 4px #1c1a19;
	width:70%;
	margin-bottom: 150px;
	margin:auto;
	height:auto;
	margin-top: 120px;
	background-color: white;

}
legend
{
	color: #35A6FF;
}
 .addbutton a 
{
	color: white;
}
.commentsheet
{



}
.form
{

	width: 70%;
    margin: auto;
    margin-top: 100px;
	border:1px solid black;
	background-color:white;
	box-shadow: 0px 4px 4px #1c1a19;

	
}
.error
{
	text-align: center;
	font-size: 2em;
}
label
{
	font-size: 1.5em;
}

.uppost
{
	padding-bottom: 15px;
}

.formtitle
{
	text-align:center;
	background-color:#35A6FF;

}

.formtitle2
{
	width: 30%;
	text-align:center;
	background-color:#35A6FF;
    margin: auto;
}
.form textarea
{
	width: 90%;
	margin-left: 20px;
}
.form input
{
	width: 15%;
	margin-left: 20px;
	margin-bottom: 15px;

}
.form2 input
{
	width: 30%;
	margin-left: 20px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.form label
{
	margin-left: 20px;
}

.upform textarea
{
	margin-left: 10%;
    width: 80%;
}

.empty
{
	height: 75px; 

}

.addbutton input
{
	background-color: dimgray;
    color: white;
    padding: auto;
    padding: 8px;
}
.delbutton input
{
	height: 45px;
    background-color: red;
    padding: 8px;
    color: white;
    border-color: white;
    width: 20%;
}
.updtbutton input
{
	height: 45px;
    background-color: #35A6FF;
    padding: 8px;
    color: white;
    border-color: white;
    width: 20%;
}
.combutton 
{
	
    text-align: center;
    padding-top: 30px;
}

.suitebutton
{
	text-align: center;
	padding-top: 30px;
}
.btitle
{
	text-align: center;
	background-color:#35A6FF;
	color:white;
	font-size: small;
	
}
.newcomment
{
	margin-bottom: 13px
}
.newcombutton
{
	text-align: center;
}
.uppostbutton
{
	text-align: center;
}
.signalbutton a
{
	color: red;
}
.comments
{
	background-color: white;
	margin:auto;
	margin-bottom:100px;
	margin-top: 100px;
	width:70%;
	box-shadow: 0px 4px 4px #1c1a19;
	
}
.ctitle
{
	padding-bottom:0.5%;
	background-color:#35A6FF;
	color:white;
	font-size: small;
	width:100%;
	padding-top:3px;
}
.content
{
	padding-left:2%;
	padding-right:5%;
	padding-top:7%;
	padding-bottom:3%;
}
.content strong
{
	color:#35A6FF;
}
.posts 
{
	margin: 20px;
	padding: 10px;
}


footer 
{
	text-align: center;
	background-color: black;
	color:white;
	font-family: 'Adobe Garamond Pro Bold Italic', Georgia, Times New Roman;
    
}

footer h3, p
{
	font-size: small;
	font-family: 'Adobe Garamond Pro Bold Italic', Georgia, Times New Roman;

}

.social
{
	display: flex;
	justify-content: center;


	

	width : 100%;
	padding-right: 1%;
}
.social img
{
	width:50px;
	height:50px;

}


.bottom
{
	display:flex;

	

}

.infos 
{
	width: 40%;
	
	display:flex;
}
.infos p
{
	padding-top:5px;
}
.infos h3
{
	text-decoration: underline;
	margin: 16px;
	font-size: 15px;
}
.logo img
{
	width:150px;
	height:50px;
}
.logo
{
	display:flex;
	
	border-bottom:none;
	border-right:none;
	width: 30%;
	margin-bottom:35px;
}
.pagination
{
	font-size: 2em;
	padding-left: 44%
}
.foot
{
	
    padding: 20px 10px 0px 10px;
    height: 150px;
    background-color: rgba(43, 60, 85, 0.96);
}
.admin
{
	 margin: -45px;
}
.logo p 
{
	padding-bottom:10px;

}
.final
{
	border:2px solid white;
	background-color: white;
	color:black;
	height: 80px;
	text-align: center;
	padding-bottom: auto
}
.ftext
{
	font-size: 1.6em;
}